<!doctype html>
<html class="no-js" lang="">

<head>
    <!-- <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <link rel="stylesheet" type="text/less" href="css/typography.less" />
    <link rel="stylesheet" type="text/less" href="css/settings.less" />
    <link rel="stylesheet" type="text/less" href="css/global.less" /> -->
</head>

<body>
    <div class="contactus">
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <p>Comunícate <span>con nosotros</span></p>
            </div>
            <div class="col-xs-12 col-md-8">
                <a href="#" class="contactus-chat">Escríbenos</a>
                <a href="#" class="contactus-call">Llámanos</a>
                <a href="#" class="contactus-location">Visita nuestras sucursales</a>
            </div>
        </div>
    </div>
    <!-- <script src="js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="js/vendor/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/less.js/3.8.1/less.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script> -->
</body>

</html>