<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <link rel="stylesheet" type="text/less" href="css/typography.less" />
    <link rel="stylesheet" type="text/less" href="css/settings.less" />
    <link rel="stylesheet" type="text/less" href="css/global.less" />
</head>

<body style="display: block !important;">
    <div class="footer">
        <div class="footer__main">
            <div class="container">
                <div class="row footer__main__row">
                    <div class="col-xs-12 col-md-4 footer__social">
                        <div class="col-xs-12 col-md-6 footer__subscribe">
                            <img src="/imca-dom/img/logo-imca-favicon.png" class="hidden-xs hidden-sm">
                            <p>Suscríbete a <span>Nuestro Boletín</span></p>
                            <form class="footer__subscribeForm">
                                <input type="text" name="phone" class="custom-input" placeholder="Nombres" />
                                <input type="email" name="email" class="custom-input" placeholder="Correo">
                                <button type="submit" class="submit-btn btn">Enviar</button>
                            </form>
                        </div>
                        <div class="col-xs-12 col-md-6 footer__socailSharing">
                            <span class="footer__main--heading">- Síguenos:</span>
                            <div class="footer__socialIcons">
                                <img src="/imca-dom/img/icons/facebook.png">
                                <img src="/imca-dom/img/icons/instagram.png">
                                <img src="/imca-dom/img/icons/linkedin.png">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-8 footer__linksSection">
                        <div class="footer__main--logo text-center">
                            <img class="" src="/imca-dom/img/logo-imca-favicon.png" class="visible-xs visible-sm">
                        </div>
                        <div class="col-xs-6 col-md-3">
                            <div class="footer__linksContainer">
                                <span class="footer__linksContainer--heading">- Sobre nosotros</span>
                                <ul class="footer__linksContainer--list">
                                    <li>Historia</li>
                                    <li>Responsabilidad social</li>
                                </ul>
                            </div>
                            <div class="footer__linksContainer">
                                <span class="footer__linksContainer--heading">- Industrias</span>
                                <ul class="footer__linksContainer--list">
                                    <li>Historia</li>
                                    <li>Historia</li>
                                    <li>Historia</li>
                                    <li>Historia</li>
                                    <li>Historia</li>
                                    <li>Historia</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-3">
                            <div class="footer__linksContainer">
                                <span class="footer__linksContainer--heading">- Industrias</span>
                                <ul class="footer__linksContainer--list">
                                    <li>Historia</li>
                                    <li>Historia</li>
                                    <li>Historia</li>
                                    <li>Historia</li>
                                    <li>Historia</li>
                                    <li>Historia</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-3">
                            <div class="footer__linksContainer">
                                <span class="footer__linksContainer--heading">- Equipos</span>
                                <ul class="footer__linksContainer--list">
                                    <li>Historia</li>
                                    <li>Historia</li>
                                    <li>Historia</li>
                                    <li>Historia</li>
                                    <li>Historia</li>
                                    <li>Historia</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-3">
                            <div class="footer__linksContainer">
                                <span class="footer__linksContainer--heading">- Marcas</span>
                                <ul class="footer__linksContainer--list">
                                    <li>Historia
                                        <ul>
                                            <li>Historia</li>
                                            <li>Historia</li>
                                            <li>Historia</li>
                                            <li>Historia</li>
                                        </ul>
                                    </li>
                                    <li>Historia</li>
                                </ul>
                            </div>
                            <div class="footer__linksContainer">
                                <span class="footer__linksContainer--heading">- Contacto</span>
                                <ul class="footer__linksContainer--list">
                                    <li>809 560 4622 /  809 4475 4622</li>
                                    <li>Aut. Duarte Km. 11</li>
                                    <li>Info@imcadom.com</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__privacy">
            <span>Políticas de Privacidad. IMCA &copy; 2017. Todos los derechos reservados.</span>
        </div>
    </div>
    <script src="js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="js/vendor/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/less.js/3.8.1/less.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>
</body>

</html>