<!doctype html>
<html class="no-js" lang="">

<head>
    <!-- <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <link rel="stylesheet" type="text/less" href="css/typography.less" />
    <link rel="stylesheet" type="text/less" href="css/settings.less" />
    <link rel="stylesheet" type="text/less" href="css/global.less" /> -->
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="row header-row-wrapper">
                <div class="col-md-3">
                    <div class="header-logo">
                        <a href="#" class="header-logo-link">
                            <img src="./img/logo-imca.png" class="header-logo-img" />
                        </a>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="header-menu-wrapper">
                        <div class="header-top-menu">
                            <ul>
                                <li>
                                    <a href="#">Tienda de renta</a>
                                </li>
                                <li>
                                    <a href="#">Empleos</a>
                                </li>
                                <li>
                                    <a href="#">Promociones</a>
                                </li>
                                <li>
                                    <a href="#">Solicita tu Crédito</a>
                                </li>
                                <li>
                                    <a href="#">Contáctanos</a>
                                </li>
                                <li>
                                    <a href="#"><img src="../img/icon/facebook.svg"></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="icon" id="myTopnav-icon">
                                        <i class="fa fa-bars"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="header-utility-menu">
                            <ul>
                                <li>
                                    <a href="#">Inicio</a>
                                </li>
                                <li class="dropdown">
                                    <a href="#">Sobre Nosotros <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Historia</a></li>
                                        <li><a href="#">Resoponsabilldad Social</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Servicios</a>
                                </li>
                                <li>
                                    <a href="#">INDUSTRIAS</a>
                                </li>
                                <li>
                                    <a href="#">Marcas</a>
                                </li>
                                <li>
                                    <a href="#">Equipos</a>
                                </li>
                                <li>
                                    <a href="#">Noticias</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- <script src="js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="js/vendor/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/less.js/3.8.1/less.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script> -->
</body>

</html>